@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&subset=cyrillic-ext');

html{
	font-family: 'Montserrat', sans-serif;
}
.flo-lef{
	float: left;
}
.middfon{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}
.pos-abs{
	position: absolute;
}
.conteiner{
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
a{
	color: #fff;
	text-decoration: none;
}
ul{
	padding: 0;
	margin:0;
	list-style: none;
}
/*HEADER*/
header{
	background: #0f0f0f;
	padding: 15px 0;
	color: #fff;
}
.header-logo{
	width: 277px;
	height: 59px;
}
.header-menu ul li{
	float: left;
	height: 20px;
	min-height: 20px;
	min-width: 70px;
	text-align: center;
	box-sizing: border-box; 
	line-height: 60px;
	padding: 0 22px;
}
.header-menu ul li a{
	font-size: 15px;
	font-weight: 500;
}
.header-social-buttom{
	margin-top: 19px;
	padding-left: 22px;
	padding-right: 25px;
}
.header-social-buttom a,.footer-social-buttom a{
	width: 43px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display:block;
	box-sizing: border-box;
	vertical-align: middle;
	float: left;
}
.header-social-buttom a:first-child,.footer-social-buttom a:first-child{
	width:36px;
	text-align: left;
}
.header-social-buttom a:nth-child(3),.footer-social-buttom a:nth-child(3){
	width: 50px;
	vertical-align: middle;
}
.header-social-buttom a:not(:last-child),.footer-social-buttom a:not(:last-child){
	border-right: 1px solid #3a3a3a;
}
.header-social-buttom a:last-child,.footer-social-buttom a:last-child{
	width: 30px;
	text-align: right;
}
.header-social-buttom a img, .footer-social-buttom a img{
	vertical-align: middle;
}
.header-contact{
	margin-top: 7px;
}
.header-contact-tel{
	font-weight: bold;
	font-size: 22px;
	text-align: right;
}
.header-contact-worktime{
	font-weight:500;
	font-size:13px;
	text-align: right;
	margin-top:7px;
}
header:after{
	content: '';
	clear: both;
	display: block;
}

/*BANER*/
.main-image .conteiner{
	padding-top: 89px;
}
.main-image{
	background: url(../img/mainimage-min.jpg)no-repeat #0f0f0f;
	background-position-x: center;
	width: 100%;
    height: 606px;
    color: #fff;
    overflow: hidden;
}
.main-image-elips{
	width: 430px;
    height: 427px;
    border-radius: 50%;
	background: radial-gradient(at center, #f32121,  #e31f1f);
	margin: 0 auto;
	box-shadow: 2px 3px 55px 0px rgba(243, 33, 33, 0.64);
}
.image-title1{
	font-size: 36px;
	font-weight: 300;
}
.image-title2{
	font-size: 46px;
	font-weight: 900;
	margin-top: 20px;
}
.image-title1,.image-title2{
	text-align: center;
	text-transform: uppercase;
}
.main-image-title{
	display: table-cell;
	vertical-align: middle;
	width: 428px;
    height: 428px;
}
.main-image-type-2{
	top: 89px;
	left: -207px;
}
.main-image-type-3{
	top: 75px;
	left: 190px;
}
.main-image-type-4{
	bottom: -67px;
	left: 524px;
}
.main-image-type-5{
	top: 149px;
	right: 10px;
}
.main-image-type-6{
	top: 74px;
	right: 439px;
}
.main-image-type-7{
	top: 63px;
	right: -52px;
}

		/*!!MAIN!!*/

/*DESK*/
main:before{
	content: '';
	clear: both;
	display: block;
}

main{
	background: #0f0f0f;
	color: #fff;
}
.main-products{
	text-align: center;
	padding-top: 109px;
}
.main-products-title1{
	margin: 0;
	font-weight: 300;
	font-size: 42px;
}
.main-products-title2{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	padding: 37px 0;
}
.main-product-desk-type{
	float: left;
    width: 233px;
    height: 360px;
    border: 1px solid #323232;
    box-sizing: border-box;
    position: relative;
}
.main-product-desk-block{
	height: 186px;
	width: inherit;
	display: table-cell;
	vertical-align: middle;
	padding-top: 90px;
}
.main-product-desk-name{
	font-weight: 300;
	font-size: 22px;
	padding-top:4px;
}
.main-product-desk-button img{
	margin-left: 9px;
}
.main-product-desk-button{
	width: 197px;
	height: 54px;
	display: block;
	background: #f32121;
	border-radius: 25px;
    line-height: 54px;
    margin: 0 auto;
    font-weight: 500;
    font-size:15px;
    position: absolute;
    bottom: -27px;
    left: 18px;
    z-index: 9999;
}

.main-products:after{
	content: '';
	clear: both;
	display: block;
}
/*NEWS*/
.main-news{
	padding-top:152px;
	padding-bottom: 254px;
}
.main-news-title{
	padding-bottom: 82px;
	text-align: center;
	margin:0;
	font-size: 42px;
	font-weight: 300;
}
.main-news-list{
	width: inherit;
	height: 487px;
}
.main-news h3{
	font-weight:600;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
    padding: 16px 0;
}
.main-news time{
	font-size: 13px;
    font-weight: 400;
    display: block;
    position: relative;
    padding-left: 20px;
}
.main-news time:after{
	content: '';
	top: 0;
	left: 0;
	background: url(../img/calendar.png)no-repeat center center;
	width: 13px;
	height: 14px;
	position: absolute;	
}
.main-news-type1{
	width: 570px;
	min-height: 487px;
	float: left;
	padding-right: 30px;
}
.main-news-type1-image a{
	background: url(../img/news-1-min.jpg)no-repeat center;
	width: 570px;
	height: 261px;
	border-radius: 10px;
	display: block;
}
.main-news-type1-image{
	padding-bottom: 20px;
}
.main-news-type2,.main-news-type3{
	width: 570px;
	height: 230px;
}
.main-news-type2-image,.main-news-type3-image{
	padding-right: 30px;
}
.main-news-type2-image a{
	background: url(../img/news-2-min.jpg)no-repeat;
	display: block;
	width: 270px;
	height: 226px;
	border-radius: 10px;

}
.main-news-type3-image a{
	background: url(../img/news-3-min.jpg)no-repeat center;
	width: 270px;
	height: 226px;
	display: block;
	border-radius: 10px;
}
.main-news-type-block{
	width: 270px;
    height: inherit;
    float: left;
}
.main-news-type1-text,.main-news-type2-text{
	font-size: 13px;
    font-weight: 400;
    padding-bottom: 16px;
}
.main-news-type3{
	padding-top: 30px;
}
.main-news-type3-text{
	font-size: 13px;
    font-weight: 400;
    padding-bottom: 27px;
}
.button a{
	display: block;
	width: 152px;
	height: 41px;
	line-height: 42px;
	background: #f32121;
	text-align: center;
	box-shadow: 2px 3px 24px 0px rgba(243, 33, 33, 0.64);
	border-radius: 10px;
	font-size: 13px;
    font-weight: 400;
}
main:after{
	content: '';
	clear: both;
	display: block;
}

/*FOOTER*/

footer{
	background: #282828;
	padding-top:50px;
	padding-bottom: 82px;
	color: #fff;
}
.footer-logo{
	display: block;
	height: 59px;
}
.footer-logo,.footer-info,.footer-contact{
	width: 33.3%;
}
.footer-contact{
	text-align: center;
}
.footer-contact-numb a{
	display: block;
	font-weight: 500;
	font-size: 22px;
}
.footer-social-buttom{
	width: 170px;
	margin: 0 auto;
	margin-top: 21px;
}