@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&subset=cyrillic-ext');

html{
	font-family: 'Montserrat', sans-serif;
}
.flo-lef{
	float: left;
}
.middfon{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}
.pos-abs{
	position: absolute;
}
.conteiner{
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
a{
	color: #fff;
	text-decoration: none;
}
ul{
	padding: 0;
	margin:0;
	list-style: none;
}
/*HEADER*/
header{
	background: #0f0f0f;
	padding: 15px 0;
	color: #fff;
}
.header-logo{
	width: 277px;
	height: 59px;
}
.header-menu ul li{
	float: left;
	height: 20px;
	min-height: 20px;
	min-width: 70px;
	text-align: center;
	box-sizing: border-box; 
	line-height: 60px;
	padding: 0 22px;
}
.header-menu ul li a{
	font-size: 15px;
	font-weight: 500;
}
.header-social-buttom{
	margin-top: 19px;
	padding-left: 22px;
	padding-right: 25px;
}
.header-social-buttom a,.footer-social-buttom a{
	width: 43px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display:block;
	box-sizing: border-box;
	vertical-align: middle;
	float: left;
}
.header-social-buttom a:first-child,.footer-social-buttom a:first-child{
	width:36px;
	text-align: left;
}
.header-social-buttom a:nth-child(3),.footer-social-buttom a:nth-child(3){
	width: 50px;
	vertical-align: middle;
}
.header-social-buttom a:not(:last-child),.footer-social-buttom a:not(:last-child){
	border-right: 1px solid #3a3a3a;
}
.header-social-buttom a:last-child,.footer-social-buttom a:last-child{
	width: 30px;
	text-align: right;
}
.header-social-buttom a img, .footer-social-buttom a img{
	vertical-align: middle;
}
.header-contact{
	margin-top: 7px;
}
.header-contact-tel{
	font-weight: bold;
	font-size: 22px;
	text-align: right;
}
.header-contact-worktime{
	font-weight:500;
	font-size:13px;
	text-align: right;
	margin-top:7px;
}
header:after{
	content: '';
	clear: both;
	display: block;
}

/*BANER*/
.main-image .conteiner{
	padding-top: 89px;
}
.main-image{
	background: url(img/mainimage-min.jpg)no-repeat #0f0f0f;
	background-position-x: center;
	width: 100%;
    height: 606px;
    color: #fff;
    overflow: hidden;
}
.main-image-elips{
	width: 430px;
    height: 427px;
    border-radius: 50%;
	background: radial-gradient(at center, #f32121,  #e31f1f);
	margin: 0 auto;
	box-shadow: 2px 3px 55px 0px rgba(243, 33, 33, 0.64);
}
.main-image-title{
	padding: 25% 0;
}
.image-title1{
	font-size: 36px;
	font-weight: 300;
}
.image-title2{
	font-size: 46px;
	font-weight: 900;
	margin-top: 22px;
	line-height: 50px;
}
.image-title1,.image-title2{
	text-align: center;
	text-transform: uppercase;
}
img[alt="Type 2"]{
	top: 89px;
    right: 63%;
}
img[alt="Leaflet top"]{
	top: 75px;
	right: 70%
}
img[alt="Leaflet"]{
	bottom: -67px;
	left: 45%;
}
img[alt="Sushi"]{
	top: 149px;
	left: 67%;;
}
img[alt="Mainimage"]{
	top: 74px;
	left: 51%;
}
img[alt="Sushi-rol"]{
	top: 63px;
	left: 95%;
}

		/*!!MAIN!!*/

/*DESK*/
main:before{
	content: '';
	clear: both;
	display: block;
}

main{
	background: url(img/backgr-left-min.png) no-repeat top left, url(img/backgr-right-min.png) no-repeat top right,url(img/backgr-right-bott-min.png) no-repeat bottom right, url(img/backgr-left-bott-min.png) no-repeat bottom left,#0f0f0f;
	color: #fff;
}
.main-products{
	text-align: center;
	padding-top: 100px;
}
.main-products-title1{
	margin: 0;
	font-weight: 300;
	font-size: 42px;
}
.main-products-title2{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	padding-top: 22px;
    padding-bottom: 32px;
}
.main-product-desk-type{
	float: left;
    width: 233px;
    height: 360px;
    border: 1px solid #323232;
    box-sizing: border-box;
    position: relative;
}
.main-product-desk-image{
	height: 186px;
	width: inherit;
	display: table-cell;
	vertical-align: middle;
	padding-top: 80px;
}
.main-product-desk-name{
	font-weight: 300;
	font-size: 22px;
	padding-top:4px;
}
.main-product-desk-button img{
	margin-left: 9px;
}
.main-product-desk-button{
	width: 197px;
	height: 54px;
	display: block;
	background: #f32121;
	border-radius: 25px;
    line-height: 54px;
    margin: 0 auto;
    font-weight: 500;
    font-size:15px;
    position: absolute;
    bottom: -27px;
    left: 18px;
    z-index: 9999;
    box-shadow: 2px 3px 24px 0px rgba(243, 33, 33, 0.64);
}

.main-products:after{
	content: '';
	clear: both;
	display: block;
}
.main-product-desk-type:not(:nth-child(5n)){
	border-right: 1px solid transparent;
}
.main-product-desk-type:nth-child(n+6){
	border-top: 1px solid transparent;
}
/*NEWS*/
.main-news{
	padding-top:139px;
	padding-bottom: 255px;
}
.main-news-title{
	padding-bottom: 73px;
	text-align: center;
	margin:0;
	font-size: 42px;
	font-weight: 300;
}
.main-news-list{
	width: inherit;
	height: 487px;
}
.main-news h3{
	font-weight:600;
	font-size: 18px;
	margin: 0;
}
.main-news time{
	font-size: 13px;
    font-weight: 400;
    display: block;
    position: relative;
    padding: 13px 0 13px 20px;
}
.main-news time:after{
	content: '';
	left: 0;
	background: url(img/calendar.png)no-repeat center center;
	width: 13px;
	height: 14px;
	position: absolute;	
}
.main-news-type1{
	width: 570px;
	height: 487px;
	float: left;
	padding-right: 30px;
}
.main-news-type1-image a{
	background: url(img/news-1-min.jpg)no-repeat center;
	width: inherit;
	height: 261px;
	border-radius: 10px;
	display: block;
}
.main-news-type1-image{
	padding-bottom: 12px;
}
.main-news-type2,.main-news-type3{
	width: 570px;
	height: 230px;
}
.main-news-type2-image,.main-news-type3-image{
	padding-right: 30px;
}
.main-news-type2-image a{
	background: url(img/news-2-min.jpg)no-repeat;
	display: block;
	width: 270px;
	height: 226px;
	border-radius: 10px;

}
.main-news-type3-image a{
	background: url(img/news-3-min.jpg)no-repeat center;
	width: 270px;
	height: 226px;
	display: block;
	border-radius: 10px;
}
.main-news-type-block{
	width: 270px;
    height: inherit;
    float: left;
}
.main-news-type1-text,.main-news-type2-text,.main-news-type3-text{
	font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.main-news-type1-text{
	padding-bottom: 22px;
}
.main-news-type2-text{
	padding-bottom: 16px;
}
.main-news-type3-text{
    padding-bottom: 33px;
}
.main-news-type3{
	padding-top: 30px;
}

.button a{
	display: block;
	width: 152px;
	height: 41px;
	line-height: 42px;
	background: #f32121;
	text-align: center;
	box-shadow: 2px 3px 24px 0px rgba(243, 33, 33, 0.64);
	border-radius: 10px;
	font-size: 13px;
    font-weight: 400;
}
main:after{
	content: '';
	clear: both;
	display: block;
}

/*FOOTER*/

footer{
	background: #282828;
	padding: 50px 0 82px 0;
	color: #fff;
}
.footer-logo{
	display: block;
	height: 59px;
}
.footer-logo,.footer-info,.footer-contact{
	width: 33.3%;
}
.footer-info-address{
	padding-bottom: 6px;
}
.footer-info-worktime{
	padding-bottom: 18px;
}
.footer-social-buttom{
	width: 170px;
	margin: 0 auto;
}
.footer-contact{
	text-align: right;
}
.footer-contact-numb a{
	display: block;
	font-weight: 500;
	font-size: 22px;
}
.footer-contact-numb{
	padding-right: 12px;
    line-height: 28px;
}
.footer-contact-numb a:first-child{
	padding-right: 9px;
}
footer:after{
	content: '';
	clear: both;
	display: block;
}